{% extends 'base.html' %}
{% load static %}

{% block title %}Projects List{% endblock title %}

{% block content %}


    <section class="projects-section center-column ">
        <h1>Projects List</h1>


    <div class="projects-list">
    {% for project in project_list %}
        <div class="project-card">
            
            <img src="{{ project.image.url }}" alt="house before">
                <h2> {{ project.name }} </h2>
                <p> Start on: {{ project.start_date }} </p>
                <p> Completed on: {{ project.complete_date }} </p>
                <p> Total Cost: {{ project.total_cost }} </p>
                
                
                <a href="{% url 'detail' project.id %}">More details /</a>
                <a href="{% url 'update' project.id %}">Update</a>
            
        </div>
        
        {% endfor %}
        <a href="{% url 'home' %}" class="back-button">← Back</a>
    </div>
</section>

{% endblock content %}

