{% extends 'base.html' %}
{% load static %}

{% block title %}Projects List{% endblock title %}

{% block content %}


    <section class="projects-section center-column">
        <h2>Projects</h2>


{% for project in project_list %}
    <div class="projects-list">
        <div class="project-card">
    
            <img src="{{ project.image }}" alt="house before">
                <h2> {{ project.name }} </h2>
                <p> Start on: {{ project.start_date }} </p>
                <p> Completed on: {{ project.complete_date }} </p>
                <p> Total Cost: {{ project.total_cost }} </p>
                <p> Comments: {{ project.comments|truncatechars:64 }} </p>
                

                <a href="{% url 'detail' project.id %}">Continue reading...</a>
                
            
        </div>
    </div>
{% endfor %}
</section>

{% endblock content %}

