{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<section class="about-section center-row">

    <div class="about-descriptions-container center-column">
        <h1>Welcome to <span>NDOVU</span></h1>
        <h1> Home Remodeling & Property Management Services</h1>

        <div class="about-image-container center-row">

            <img src="{% static '/img/NDOVU1.jpg' %}" alt="NDOVU LOGO">


        </div>

        <h2>Where Strength Meets Style in Every Space</h2>

        <p>At <span>NDOVU GROUP</span>, we bring the majesty and power of the African elephant to your property needs.
            Just as the elephant, known as "ndovu" in Swahili, stands as a symbol of strength, wisdom, and longevity,
            our company embodies these qualities in every project we undertake. Let <span>NDOVU</span> be the foundation
            of your property's success. Contact us today to start your journey
            towards a space that truly reflects the strength and beauty of Tanzania.</p>

        <h2>Our Services</h2>

        <div class="center-row about-indent">

            <p>- <span>Home Remodeling:</span> Transform your living spaces with our expert touch, blending modern
                design with the rich heritage of Tanzania.
                <a class="btn btn-light" href="{% url 'contact' %}" role="button"> Click here</a> to contact us for
                further details!
            </p>
        </div>

        <div class="center-row about-indent">
            <p>- <span>Property Management:</span> Trust us to handle your property with the care and attention it
                deserves, ensuring it thrives like a well-tended savanna.
                <a class="btn btn-light" href="{% url 'property' %}" role="button"> Click here</a> to contact us for
                further details!
            </p>
        </div>

        <p></p>

        <p><span>NDOVU GROUP</span> - Building a Stronger Future, One Property at a Time</p>







    </div>
    </div>

    </div>
</section>

{% endblock content %}