{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<section class="about-section center-row">
<div class="about-image-container center-row">
    <img src="{% static './img/Alabama before.jpg' %}" alt="house">
    <img src="{% static './img/Alabama after.JPG' %}" alt="house">
</div>
    <div class="about-descriptions-container center-column">
        <h1>NDOVU</h1>

        <h2>NDOVU: Bringing new life to old spaces</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eligendi modi beatae reprehenderit quaerat aperiam fugiat nulla odio cupiditate molestias. Unde facilis placeat omnis libero sequi, consequatur expedita reprehenderit voluptatum.        </p>
        <div class="skills-container center-column">
            <h2>Something</h2>
            <div class="skills-list center-row">
            <label class="text-label">Something</label>
            <label class="text-label">Something</label>
            <label class="text-label">Something</label>
            <label class="text-label">Something</label>
            <label class="text-label">Something</label>
            
            
        
        </div>
</div>

    </div>
</section>

{% endblock content %}