{% extends 'base.html' %}
{% load static %}

{% block title %}Property Management{% endblock title %}

{% block content %}

<h1>Property Management Services</h1>



<section class="services-description center-column">
<img src="{% static '/img/pm.jpg' %}" alt="Image" class="">
    <h2>Property Listing</h2>

    <p>We list and market your property to find the perfect tenants.</p>

    <h2>Tenant Screening</h2>
    <p>Thorough background checks to ensure reliable tenants.</p>

    <h2>Maintenance</h2>
    <p>24/7 maintenance services to keep your property in top condition.</p>

    <h2>Rent Collection</h2>
    <p>Timely and efficient rent collection and financial reporting.</p>
</section>
{% endblock content %}