{% extends 'base.html' %}
{% load static %}

{% block title %}Home Remodel{% endblock title %}

{% block content %}

<h1>Home Remodel Services</h1>

<section class="about-section center-row">
    <div class="about-descriptions-container center-column">
        <div class="remodel-image-container center-row">
            
            <img src="{% static '/img/union before.jpg' %}" alt="Image" class="">
            <img src="{% static '/img/union after1.jpg' %}" alt="Image" class="">
        </div>
        
        <h2>Where Strength Meets Style in Every Space</h2>

        <p>Expert home remodeling that delivers quality and style. From minor updates to full renovations, our licensed professionals handle every detail. Transform your space with our trusted team. Contact us for a free consultation.</p>
            

        <div class=" d-inline-flex p-2"> 
        <p>Kitchen and bathroom renovations</p>
        <p>Basement finishing and attic conversions</p>
        <p>Room additions and whole-house remodels</p>
        <p>Exterior upgrades including siding, roofing, and decks</p>
        <p>Custom cabinetry and built-ins</p>
        <p>Flooring installation and interior painting</p>
        <p>Energy-efficient and smart home upgrades</p>
        </div>

        


        
        
</div>
</section>
{% endblock content %}