{% extends 'base.html' %}
{% load static %}

{% block title %}Home Remodel{% endblock title %}

{% block content %}

<h1>Home Remodel Services</h1>

<section class="services-description center-column">
    <div class="remodel-image-container center-row">
            
        <img src="{% static '/img/kitchenA.jpg' %}" alt="Image" class="">
        <img src="{% static '/img/kitchenAA.jpg' %}" alt="Image" class="">
    </div>
        
    <div class="remodel-image-container center-row">

        <img src="{% static '/img/bathroomB.jpg' %}" alt="Image" class="">
        <img src="{% static '/img/bathroomBB.jpg' %}" alt="Image" class="">
    </div>

    <div class="remodel-image-container center-row">
        <img src="{% static '/img/livingroomA.jpg' %}" alt="Image" class="">
        <img src="{% static '/img/livingroomAA.jpg' %}" alt="Image" class="">
                
    </div>
    

    <p>"Transform your living space with our comprehensive home remodeling services. Our expert team specializes in:</p>

        <div class="about-indent"> 
        <p>--Kitchen and bathroom renovations--</p>
        <p>--Basement finishing and attic conversions--</p>
        <p>--Room additions and whole-house remodels--</p>
        <p>--Exterior upgrades including siding, roofing, and decks--</p>
        <p>--Custom cabinetry and built-ins--</p>
        <p>--Flooring installation and interior painting--</p>
        <p>--Energy-efficient and smart home upgrades--</p>
        </div>
        
        <p>We combine quality craftsmanship with innovative design to bring your vision to life. From small updates to major renovations, our experienced professionals ensure a smooth, stress-free remodeling experience. We handle all aspects of your project, including plumbing, electrical work, and obtaining necessary permits.
        For your peace of mind, we exclusively work with certified and fully insured vendors and contractors. This commitment to quality and professionalism ensures that your project is completed to the highest standards of safety and excellence.
        With a focus on durability and style, we help you create functional, beautiful spaces that increase your home's value and enhance your daily life. Contact us today for a free consultation and take the first step towards your dream home."</p>

</section>
{% endblock content %}