{% extends 'base.html' %}
{% load static %}

{% block title %}Home Remodel{% endblock title %}

{% block content %}

<h1>Home Remodel Services</h1>

<section class="about-section center-row">
    <div class="about-descriptions-container center-column">
        <div class="remodel-image-container center-row">
            
            <img src="{% static '/img/union before.jpg' %}" alt="Image" class="">
            <img src="{% static '/img/union after1.jpg' %}" alt="Image" class="">
        </div>
        
        <h2>Where Strength Meets Style in Every Space</h2>

        <p>Expert home remodeling that delivers quality and style. From minor updates to full renovations, our licensed professionals handle every detail. Transform your space with our trusted team. Contact us for a free consultation.</p>
            

        <div class="center-row about-indent">
            <ul>
                <li>Kitchen and bathroom renovations</li>
                <li>Basement finishing and attic conversions</li>
                <li>Room additions and whole-house remodels</li>
                <li>Exterior upgrades including siding, roofing, and decks</li>
                <li>Custom cabinetry and built-ins</li>
                <li>Flooring installation and interior painting</li>
                <li>Energy-efficient and smart home upgrades</li>
            </ul>
        </div>


        
        
    </div>
</section>
{% endblock content %}