{% extends 'base.html' %} {% load static %} {% block title %} Property Detail
{%endblock title %} {% block content %}
<h1>Property Details</h1>
<section class=" details-container center-row">
  
  <div class="details-property">
    <h1>Property Information</h1>
    
    {% if propertymanagement.image %}
    <img src="{{ propertymanagement.image.url }}" alt="house" />
    {% endif %}
    

    <p>Address:{{ propertymanagement.adress }}</p>
    <p>Owner: {{ propertymanagement.property_owner }}</p>
    <p>Type: {{ propertymanagement.property_type }}</p>
    <p>No. of Units: {{ propertymanagement.number_of_units }}</p>
    <p>Year Built: {{ propertymanagement.year_built }}</p>
    <p>Sq.ft: {{ propertymanagement.square_footage }}</p>
    <p>Acquired Date: {{ propertymanagement.acquired_date }}</p>
  </div>
    <div class="details-property">
      <h1>Property Finance</h1>
      <p>Purchase price: {{ propertyfinance.purchase_price }}</p>
      <p>Market Value: {{ propertyfinance.market_value }}</p>
      <p>Monthly Rent: {{ propertyfinance.monthly_rent }}</p>
      <p>Operating Expenses: {{ propertyfinance.operating_expenses }}</p>
      <p>Mortgage Details: {{ propertyfinance.mortgage_detail }}</p>
      <p>{{ propertyfinance.property }}</p>
    </div>
    <div class="details-property">
      <h1>Tenant Information</h1>
      <p>Tenant Name: {{ propertytenantinfo.name }}</p>
      <p>Lease Terms: {{ propertytenantinfo.lease_terms }}</p>
      <p>Payment Status: {{ propertytenantinfo.rent_payment_status }}</p>
      <p>{{ propertytenantinfo.property }}</p>
    </div>
    <div class="details-property">
      <h1>Maintenance Information</h1>
      <p>
        Scheduled Maintenace: {{ propertymaintenanceinfo.scheduled_maintenance }} </p>
      <p>Vendor: {{ propertymaintenanceinfo.vendor }}</p>
      <p>Cost: {{ propertymaintenanceinfo.cost.amount }}</p>
      <p>{{ propertymaintenanceinfo.property }}</p>
    </div>
    <a href="{% url 'property_list' %}" class="back-button">← Back</a>
</section>

{% endblock content %}