{% extends 'base.html' %}{% load static %}
{% block title %}Update{% endblock title%} {% block
content%}
<h1>Update Property</h1>

{% block content %}

<div class="project-section center-row">

    
    <form method="POST" action="{% url 'save_changes' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden"  name="property_id" value="{{ propertymanagement.id }}">
        
        <h1>Update Property</h1>
            
        <section class="property-form">
        
                <div>
                    <h2> Property Info:</h2>

                    {% if propertymanagement.image %}
                    <img src="{{ propertymanagement.image.url }}" alt="house" width="265px" />
                    {% endif %}

                    <label class="form-label">Change Image:</label>
                    <input type="file" class="form-control" name="image" value="{{ propertymanagement.image }}" />
                </div>

                <div>
                    <label class="form-label">Property Owner:</label>
                    <textarea class="form-control" name="property_owner">{{ propertymanagement.property_owner }}</textarea>
                </div>

                <div>
                    <label class="form-label">Property Address:</label>
                    <textarea class="form-control" name="address">{{ propertymanagement.address }}</textarea>
                </div>

                <div>
                    <label class="form-label">Property Type:</label>
                    <input list="typelistOptions" class="form-control" name="property_type"
                        value="{{ propertymanagement.property_type }}">
                    <datalist id="typelistOptions">
                        <option value="Commercial">
                        <option value="Residential">
                    </datalist>
                </div>

                <div>
                    <label class="form-label">No. of Units:</label>
                    <input type="number" class="form-control" name="number_of_units"
                        value="{{ propertymanagement.number_of_units }}">
                </div>

                <div>
                    <label class="form-label">Yr. Built:</label>
                    <input type="number" class="form-control" name="year_built"
                        value="{{ propertymanagement.year_built }}">
                </div>

                <div>
                    <label class="form-label">Sq.Ft:</label>
                    <input type="text" class="form-control" name="square_footage"
                        value="{{ propertymanagement.square_footage }}">
                </div>

                <div>
                    <label class="form-label">Acquired Date:</label>
                    <input type="date" class="form-control" name="acquired_date"
                        value="{{ propertymanagement.acquired_date |date:'Y-m-d'}}">
                </div>
            </section>
            <section class="property-form">
                <h2> Property Finance Info:</h2>
                <div>
                    <label class="form-label">Purchase price:</label>
                    <input type="number" class="form-control" name="purchase_price"
                        value="{{ propertyfinance.purchase_price.amount }}">
                </div>
                <div>
                    <label class="form-label">Market Value:</label>
                    <input type="number" class="form-control" name="market_value"
                        value="{{ propertyfinance.market_value.amount }}">
                </div>
                <div>
                    <label class="form-label">Monthly rent:</label>
                    <input type="number" class="form-control" name="monthly_rent"
                        value="{{ propertyfinance.monthly_rent.amount }}">
                </div>
                <div>
                    <label class="form-label">Operating Expenses:</label>
                    <input type="number" class="form-control" name="operating_expenses"
                        value="{{ propertyfinance.operating_expenses.amount }}">
                </div>
                <div>
                    <label class="form-label">Mortgage Details:</label>
                    <textarea class="form-control"
                        name="mortgage_details">{{ propertyfinance.mortgage_details }}</textarea>
                </div>
            </section>
            <section class="property-form">
                <h2> Tenant Info:</h2>
                <div>
                    <label class="form-label">Tenant Name:</label>
                    <input type="text" class="form-control" name="name" value="{{ propertytenantinfo.name }}">
                </div>

                <div>
                    <label class="form-label">Lease Terms:</label>
                    <input list="termslistOptions" class="form-control" name="lease_terms">
                    <datalist id="termslistOptions">
                        <option value="12 months">
                        <option value="6 months">
                        <option value="24 months">
                    </datalist>
                </div>
                <div>
                    <label class="form-label">Rent payment status:</label>
                    <textarea class="form-control"
                        name="rent_payment_status">{{ propertytenantinfo.rent_payment_status }}</textarea>
                </div>
            </section>
            <section class="property-form">
                <h2> Maintenance Log:</h2>
                <div>
                    <label class="form-label">Scheduled Maintenance:</label>
                    <textarea class="form-control"
                        name="scheduled_maintenance">{{ propertymaintenanceinfo.scheduled_maintenance }}</textarea>
                </div>
                <div>
                    <label class="form-label">Vendor:</label>
                    <textarea class="form-control" name="vendor">{{ propertymaintenanceinfo.vendor }}</textarea>
                </div>
                <div>
                    <label class="form-label">Cost:</label>
                    <input type="number" class="form-control" name="cost" value="{{ propertymaintenanceinfo.cost.amount }}">
                </div>
            </section>

            <section>
            <div class="center row">
                <button type="submit" class="button btn btn-outline-dark">Update</button>
            </div>
            </section>
    </form>
    </section>



</div>

{% endblock content %}