{% extends 'base.html' %} {% load static %} {% block title %}Property
Management{% endblock title %} {% block content %}

<section class="projects-section center-column">
  <h1>Property List</h1>

  <div class="">
    {% for propertymanagement in propertymanagement_list %}
    <div class="project-card">
      
      {% if propertymanagement.image %}
    <img src="{{ propertymanagement.image.url }}" alt="house" />
    {% endif %}

      
      
      <p>Address: {{ propertymanagement.address }}</p>
      <p>Acquired Date: {{ propertymanagement.acquired_date }}</p>
      <a href="{% url 'property_detail' propertymanagement.id %}"
        >More details /</a
      >
      <a href="{% url 'property_update' propertymanagement.id %}">Update</a>
    </div>
    {% endfor %}
  </div>
  <a href="{% url 'home' %}" class="back-button">← Back</a>
</section>

{% endblock content %}
