{% extends 'base.html' %} {% load static %} {% block title %}Property
Management{% endblock title %} {% block content %}

<section class="projects-section center-column">
  <h2>Property</h2>

  <div class="object-fit-cover border rounded">
    {% for propertymanagement in propertymanagement_list %}
    <div class="project-card">
      <img src="" alt="house" />

      <p>Address: {{ propertymanagement.address }}</p>
      <p>Acquired Date: {{ propertymanagement.acquired_date }}</p>
      <a href="{% url 'property_detail' propertymanagement.id %}"
        >More details</a
      >
      <a href="{% url 'property_update' propertymanagement.id %}">Update</a>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}
