:root {
  --secondary-color-600: #d8a25e;
  --background-color: #fdfdfd;
  --surface-color: #1e3e62;
  --neutral-color:#2e2f30;
  --DM-font: "DM Sans", sans-serif;
}

* {
  font-family: var(--DM-font);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 16px;
  background-color: var(--background-color);
}

h1 {
  color: var(--secondary-color-600);
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  
  color: var(--secondary-color-600);
  font-size: 1.8rem;
  letter-spacing: 0.06rem;
}


p {
  line-height: 1.5rem;
  font-size: 1.3rem;
}



.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
