/*phone*/

@media (max-width: 942px) {
  html {
    font-size: 10px;
    margin-bottom: 50px;
  }


  .project-card img {
    width: 90%;
    height: 25rem;
    object-fit: cover;
    object-position: center 100%;
  }
  .new-project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 3px solid rgba(30, 62, 98, 0.5);
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto 5rem;
    max-width: calc(100% - 0rem);
    width: 100%;
  }
  .details-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details-property {
    width: 90%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 3rem;
  }

  .details-property img {
    height: 150px;
  }
  .hamburger-btn {
    display: inline-flex;
    position: absolute;  
    right: 20px;        
    top: 20px;          
    z-index: 100;       
    background: none; 
  }
  .hamburger-btn span {
    display: block;
    height: 3px;
    width: 30px;
    background-color: var(--neutral-color);
    margin: 6px auto;
  }
  /* Toggle Function*/

  #checkBox:not(:checked) ~ .nav-options {
    height: 0px;
    overflow: hidden;
  }

  #checkBox:checked ~ .nav-options {
    height: auto;
    overflow: auto;
  }

  header {
    height: 80px;
    flex-direction: column;
    position: relative;  
  }

  footer {
    height: 80px;
    flex-direction: column;
  }

  .logo {
    width: 6%;
    padding-right: 20%;
    margin-top: 2rem;
  }

  .nav-options {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: white;  
    z-index: 99;
    flex-direction: column;
}

.nav-options a {
    margin: 1rem;
    display: block;     
    text-align: center; 
    padding: 0.5rem;    
}


  .remodel-image-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.remodel-image-container img {
    height: 150px;  
}

.button {
  margin-left: auto;      
  margin-right: auto;
  margin-bottom: 3rem;    
  width: 90%;            
  max-width: 200px;      
  top: -3rem;           
  position: relative;
}
}

@media (max-width: 1007px) {
  html {
    font-size: 12px;
  }

  .logo {
    padding-right: 15%;
  }

  .about-section {
    flex-direction: column;
  }
  .about-image-container {
    width: 100%;
  }
  .about-image-container img {
    width: 30%;
  }

  .about-description-container {
    width: 100%;
    margin: 2rem 0;
  }
  .project-card {
    width: 350px;
    margin-left: 4rem;
    margin-right: 10px;
  }
  
}
