/*Homepage NDOVU*/
.about-section {
  padding: 2%;
}

.about-image-container img {
  width: 30%;
}



.about-descriptions-container {
  width: 70%;
}
.about-descriptions-container div:nth-child(2) {
  text-align: center;
}

.about-descriptions-container p {
  width: 90%;
  margin: 2rem 0;
}

.about-indent {
  align-self: center;
  max-width: 700px;
}

/* Projects page */

.projects-section {
  margin-top: 4rem;
}

.projects-list {
  margin: 2rem 0px;
  
}

.project-card {
  width: 400px;
  display: inline-block;
  border: 5px solid #1e3e6280;
  margin-bottom: 2rem;
  vertical-align: top; 
  padding: 1rem;

}
.project-card p {
  width: 90%;
  margin: 0.5rem 0;
}
.project-card img {
  height: 200px;
}
.project-card a {
  width: 100%;
}
/*Service page*/

.services-description {
  text-align: center;
}

.services-description p {
  width: 90%;
  margin: 0.5rem 0;
}

/*Remodel page*/

.remodel-image-container img {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));

  height: 200px;
}

/*New Property page*/
.property-form {
  width: 300px;
  display: inline-flex;
  flex-direction: column;
  border: 5px solid #1e3e6280;
  align-items: top baseline;
  padding: 1rem;
}

/* Contact page */
